* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #001e4d;
}
.app
{
  background: #fff;
  width: 80%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 3rem;
  padding: 30px;
}
.quize h2 {
font-size: medium;
color: #001e4d;
font-weight: 600;   
}
.quize .btn{
  color: #333;
  font-weight: 500;
  width: 100%;
  text-align: left;
  margin: 10px 0;
  border: 1px solid #222 ;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s;
}
.quize .btn:hover:not([disabled]){
  transform:scale(1.05);
  background-color: #333;
  color: #fff;
}
#next-btn{
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  display: none;
width: 150px;
padding: 10px;
margin: 20px auto 0;
border: 1px solid #222 ;
border-radius: 5px;

}
.correct{
    background: rgb(50, 145, 50);
     
}
.incorrect{
  background:  rgb(226, 89, 89);
   
}
